.popup__container {
  position: absolute;
  top: calc((100% - 322px) / 2);
  left: calc((100% - 282px) / 2);
  max-width: 282px;
  max-height: 322px;
  padding: 25px 22px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

@media screen and (min-width:1000px) {
  .popup__container {
    top: calc((100% - 330px) / 2);
    left: calc((100% - 430px) / 2);
    max-width: 430px;
    max-height: 330px;
    padding: 34px 36px 37px 36px;
  }
}
